{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row text-center">
        <div class="col mb-4">
        </div>
        <div class="col mb-4">
            <h1 class="display-1">User Info</h1>
        </div>
        <div class="col mb-4">
            <button class="btn btn-mdb-color"><a href="/logout">Logout</a></button>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col mb-4">
            <h3 class="display-4"><b>Username: </b>{{user.username}}</h3>
            <h3 class="display-4"><b>Email: </b> {{user.email}}</h3>
            <h3 class="display-4"><b>First Name: </b>{{user.first_name}}</h3>
            <h3 class="display-4"><b>Last Name: </b>{{user.last_name}}</h3>
            <button class="btn btn-danger my-4" id="user_delete_btn" data-id={{user.username}}>Delete User</button>
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col mb-4">
            <h3 class="display-1">Feedback</h3>
            <div id="feedback">
                {% for feed in feedback %}
                    <div class="">
                        <li class="d-inline-block"><a href="/feedback/{{feed.id}}/update">{{feed.title}}: &nbsp;</a></li>
                        <button><i class="d-inline-block far fa-trash-alt" id="delete_btn" data-id={{feed.id}}></i></button>
                    </div>
                {% endfor %}
                <button class="btn btn-info my-4 text-light"><a href="/users/{{user.username}}/feedback/add" class="active">Add Feedback</a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}